{% extends "base.html" %}
{% load static %}


{% block content_row %}

<!-- Content Row -->
<!-- <div>
    <p>Piechart</p>
    <img src="data:image/png;base64, {{graphic}}" alt="Pie Chart" width="500" height="400"/>
  </div> -->


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Charts</h1>
    <!-- Content Row -->
    <div class="row">

        <img src="data:image/png;base64, {{chartData.}}" alt="Pie Chart" width="500" height="400"/>
        <hr>
        <!-- <div class="col-xl-6 col-lg-5">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   -->

   
    </div>


{% endblock%}